<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AFWThemeDefaultTheme</key>
	<string>White</string>
	<key>APLanguageResourceMergeStrategy</key>
	<string>0</string>
	<key>APProductType</key>
	<string>release</string>
	<key>APSyncConfigs</key>
	<array>
		<dict>
			<key>biz</key>
			<string>devicelock-mycf</string>
			<key>type</key>
			<string>device</string>
		</dict>
		<dict>
			<key>biz</key>
			<string>CDP-GLOBAL-MYCF</string>
			<key>type</key>
			<string>device</string>
		</dict>
		<dict>
			<key>biz</key>
			<string>WH-NORMAL</string>
			<key>type</key>
			<string>device</string>
		</dict>
		<dict>
			<key>biz</key>
			<string>SECUCNS-GLOBAL</string>
			<key>type</key>
			<string>device</string>
		</dict>
		<dict>
			<key>biz</key>
			<string>FACEPAY-ORDER-MYCF</string>
			<key>type</key>
			<string>user</string>
		</dict>
		<dict>
			<key>biz</key>
			<string>NEBULA-AF-G</string>
			<key>type</key>
			<string>device</string>
		</dict>
		<dict>
			<key>biz</key>
			<string>NEBULA-AF-U</string>
			<key>type</key>
			<string>user</string>
		</dict>
		<dict>
			<key>biz</key>
			<string>DIAG-LOG-MYCF</string>
			<key>type</key>
			<string>user</string>
		</dict>
		<dict>
			<key>biz</key>
			<string>CONFIGSDK-NOTIFY</string>
			<key>type</key>
			<string>device</string>
		</dict>
		<dict>
			<key>biz</key>
			<string>CONFIGSDK-USER</string>
			<key>type</key>
			<string>user</string>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>18G103</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>蚂蚁财富</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ALIPASS File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.item</string>
				<string>public.content</string>
				<string>com.pkware.zip-archive</string>
				<string>org.gnu.gnu-zip-tar-archive</string>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>AFWealth</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AFWealth/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon57x57</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.antfortune.wealth</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AFWealth</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.9.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>afwealth</string>
				<string>wb2312569697</string>
				<string>wx0a2e5284f5893130</string>
				<string>wx9161312ff98ff2ec</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipayShare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ap2015061200123672</string>
				<string>ap2015061200123627</string>
				<string>ap2015061000118576</string>
				<string>ap2015073000193121</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentopenapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1104743525</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dingtalk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dingoabfvinbfkf4u2nul8</string>
				<string>dingoa40oisglz9lf1tmxc</string>
				<string>dingoameig6bg4cnnj5gqr</string>
				<string>dingoafunro2fy7bwmvtrl</string>
				<string>dingoazrtkhz9hnfnvn3of</string>
				<string>dingoahlfenytlopk2vnve</string>
				<string>dingoalrhear3sqkujtqzv</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6.9.0.600</string>
	<key>Channels</key>
	<string>apple-iphone</string>
	<key>DTAppStoreToolsBuild</key>
	<string>11E608a</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>17B102</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>13.2</string>
	<key>DTSDKBuild</key>
	<string>17B102</string>
	<key>DTSDKName</key>
	<string>iphoneos13.2</string>
	<key>DTXcode</key>
	<string>1130</string>
	<key>DTXcodeBuild</key>
	<string>11C29</string>
	<key>FLTAssetsPath</key>
	<string>AFWealthFlutter.bundle/FlutterAssets</string>
	<key>Feedback</key>
	<false/>
	<key>HideSplashIndirectStart</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mqqopensdkapiV2</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>alipayshare</string>
		<string>alipaytlshare</string>
		<string>alipayauthlogin</string>
		<string>alicertpay</string>
		<string>about</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>laiwang</string>
		<string>laiwangsso</string>
		<string>dingtalk</string>
		<string>dingtalk-open</string>
		<string>weibo</string>
		<string>afwealth</string>
		<string>afwealthnormal</string>
		<string>afwealthgray</string>
		<string>afwealthrc</string>
		<string>afwealthtest</string>
		<string>tel</string>
		<string>mail</string>
		<string>http</string>
		<string>https</string>
		<string>ftp</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>cydia</string>
		<string>momochs</string>
		<string>tenpay</string>
		<string>com.icbc.iphoneclient</string>
		<string>wx2654d9155d70a468</string>
		<string>mtxx</string>
		<string>youku</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>mybank</string>
		<string>taobao</string>
		<string>yulebao</string>
		<string>tbmovie</string>
		<string>tmall</string>
		<string>taobaotravel</string>
		<string>maps</string>
	</array>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>LogLevel</key>
	<string>-1</string>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>若不允许，你将无法连接并绑定你的智能设备，也无法使用高德地图的蓝牙室内导航功能。</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>若不允许，你将无法连接并绑定你的智能设备，也无法使用高德地图的蓝牙室内导航功能。</string>
	<key>NSCalendarsUsageDescription</key>
	<string>若不允许，你将无法收到未来日程相关提醒。</string>
	<key>NSCameraUsageDescription</key>
	<string>若不允许，你将无法在蚂蚁财富中使用扫码、刷脸、拍照等功能。</string>
	<key>NSContactsUsageDescription</key>
	<string>同步通讯录，给朋友转账更方便。</string>
	<key>NSFaceIDUsageDescription</key>
	<string>如不允许，你将无法使用面容 ID 完成支付、解锁等操作。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>为了加强你的账户安全，如果账户位置有问题，我们会及时通知你。</string>
	<key>NSLocationUsageDescription</key>
	<string>为了加强你的账户安全，如果账户位置有问题，我们会及时通知你。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>为了加强你的账户安全，如果账户位置有问题，我们会及时通知你。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>若不允许，你将无法在蚂蚁财富中使用语音消息、小视频及语音搜索等功能。</string>
	<key>NSMotionUsageDescription</key>
	<string>若不允许，你将无法记录你的运动数据。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>若不允许，你将无法在蚂蚁财富中使用扫一扫、刷脸、拍照及拍摄小视频等功能。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>若不允许，你将无法在蚂蚁财富中使用扫一扫、刷脸、拍照及拍摄小视频等功能。</string>
	<key>NSRemindersUsageDescription</key>
	<string>若不允许，你将无法收到未来日程相关提醒。</string>
	<key>PackageType</key>
	<string>release</string>
	<key>Product ID</key>
	<string>IOS_ALISTOCK</string>
	<key>Product Name</key>
	<string>ALI_JN_APP</string>
	<key>Product Version</key>
	<string>6.9.0.600</string>
	<key>UIAppFonts</key>
	<array>
		<string>WealthHome.bundle/AlibabaSans102-Md.ttf</string>
		<string>AliCreditResources.bundle/alciconfont.ttf</string>
		<string>O2O.bundle/DINCondensedC.ttf</string>
		<string>WealthHome.bundle/AlipayNumber.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quick_action_gphq</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>股票行情</string>
			<key>UIApplicationShortcutItemType</key>
			<string>stock</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>action</key>
				<string>afwealth://platformapi/startapp?appId=90000003&amp;bizScenario=3dtouch</string>
				<key>version</key>
				<string>6.0.0.99999999</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quick_action_cftt</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>财富头条</string>
			<key>UIApplicationShortcutItemType</key>
			<string>headlines</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>action</key>
				<string>afwealth://platformapi/startapp?appId=98000012&amp;action=news_home</string>
				<key>version</key>
				<string>6.0.0.99999999</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quick_action_wjsy</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>稳健收益</string>
			<key>UIApplicationShortcutItemType</key>
			<string>profit</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>action</key>
				<string>afwealth://platformapi/startapp?appid=60000160</string>
				<key>version</key>
				<string>6.0.0.99999999</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quick_action_jxjj</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>精选基金</string>
			<key>UIApplicationShortcutItemType</key>
			<string>fund</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>action</key>
				<string>afwealth://platformapi/startapp?appId=20000793&amp;url=%2Fwww%2Findex.html%3Fpage%3Dmarket</string>
				<key>version</key>
				<string>6.0.0.99999999</string>
			</dict>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.item</string>
				<string>public.content</string>
				<string>com.pkware.zip-archive</string>
				<string>org.gnu.gnu-zip-tar-archive</string>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ALIPASS File</string>
			<key>UTTypeIdentifier</key>
			<string>com.pkware.zip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>apk</string>
			</dict>
		</dict>
	</array>
	<key>User Agent</key>
	<string>ALIPAY_FOR_IOS</string>
</dict>
</plist>
